{
  "plugins": ["jest"],
  "extends": ["eslint:recommended", "plugin:jest/recommended"],
  "rules": {
    "no-console": "off",
    "no-prototype-builtins": "off",
    "no-constant-condition": "off",
    "no-undef": "off",
    "no-fallthrough": "off",
    "no-extra-semi": "off"
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jest/globals": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "globals": {
    "__DEV__": true
  },
  "overrides": [
    {
      "files": ["**/*.test.js"],
      "settings": {
        "import/resolver": {
          "jest": {
            "jestConfigFile": "./jest.config.js"
          }
        }
      }
    }
  ]
}
